@page "/partnerinfo"
@using System.Security.Claims
@using EventServer.Client.Models
@using MudExRichTextEditor
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JsRuntime
<PageTitle>Partner Info</PageTitle>

<AuthorizeView>
      <Authorized>
            @if (_partner == null)
            {
                  <p>Loading Partner Information</p>
            }
            else
            {
                  <PartnerCard _partner="@_partner"/>
                  <MudButtonGroup>
                        <MudButton Variant="Variant.Outlined" Color="Color.Secondary"
                                   StartIcon="@Icons.Material.Filled.ContentCopy"
                                   OnClick="CopyMeetingUrlToClipboard">Copy Meeting Url
                        </MudButton>
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Schedule"
                                   OnClick="ShowHideSchedule">Show Schedule
                        </MudButton>
                  </MudButtonGroup>

                  @if (showScheduleComponent)
                  {
                        <ScheduleMeeting _partner="@_partner"/>
                  }
                  else
                  {
                        
                        <MudExRichTextEdit @ref="@Editor" @bind-Value="@_partner.Bio"
                                           Height="444"
                                           Class="m-2"
                                           Variant="Variant.Outlined"/>
                  }
            }
      </Authorized>
      <NotAuthorized>
            <LoginComponent/>
      </NotAuthorized>
</AuthorizeView>

@code {
      MudExRichTextEdit Editor;
      private bool showScheduleComponent = false;
      private static ClaimsPrincipal? _user;
      private Partner? _partner;
      private string? _partnerOverview;

      protected override async Task OnInitializedAsync()
      {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            _user = authState.User;

            if (authState.User.Identity is not null && authState.User.Identity.IsAuthenticated)
            {
                  var firstName = authState.User.FindFirst("given_name")?.Value;
                  var lastName = _user.FindFirst("family_name")?.Value;
                  var email = _user.FindFirst("email")?.Value;
                  _partner = new Partner(firstName, lastName, email, "972 979-0116", Navigation);
            }

            if (_partner != null)
            {
                  _partnerOverview = _partner.Bio;
            }
      }

      private async Task CopyMeetingUrlToClipboard()
      {
            await JsRuntime.InvokeVoidAsync("navigator.clipboard.writeText", _partner.MeetingURL);
      }

      private void ShowHideSchedule(MouseEventArgs obj)
      {
            showScheduleComponent = !showScheduleComponent;
      }

      private void OnPartnerOverviewChanged(string? value)
      {
            if (_partner != null)
            {
                  _partner.Bio = value;
            }

            _partnerOverview = value;
      }

}
